TF_IP=local.fortressone.org
TF_HOSTNAME="FortressOne local"
TF_RCON_PASSWORD=rc0n_p455w0rd
TF_ADMINPWD=adm1n_p455w0rd
TF_PASSWORD=none
TF_DEV_DATS_PATH=/path/to/server-qwprogs/
TF_DEV_ASSETS_PATH=/path/to/maps-repo/fortress/
TF_DISCORD_CHANNEL_ID=111111111111111111
