FO_IP=local.fortressone.org
FO_HOSTNAME="FortressOne local"
FO_RCON_PASSWORD=rc0n_p455w0rd
FO_ADMINPWD=adm1n_p455w0rd
FO_PASSWORD=none
FO_DEV_DATS_PATH=/path/to/server-qwprogs/
FO_DEV_ASSETS_PATH=/path/to/maps-repo/fortress/
FO_DISCORD_CHANNEL_ID=111111111111111111
